.containerMessageLeft {
  max-width: 100%;

  display: flex;
  justify-content: flex-start;
}

.containerMessageRight {
  max-width: 100%;

  display: flex;
  justify-content: flex-end;
}

.containerMessageRight .bodyMessage {
  background-color: rgb(199, 218, 212);
}

.bodyMessage {
  position: relative;
  max-width: 90%;
}

.bodyMessage p {
  max-width: 100%;
  overflow: hidden;

  text-overflow: ellipsis;
  text-align: left;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.bodyMessage span {
  position: absolute;

  color: cornflowerblue;
  background-color: white;
  font-size: 0.3rem;
  padding: 0 0.2rem;
  text-align: left;

  width: auto;
  max-width: 100%;

  left: 5px;
  top: -15px;

  overflow: auto;
}
