.containerMessage {
  max-width: 100%;

  display: flex;
  justify-content: flex-start;
}

.bodyMessage {
  max-width: 90%;
}

.bodyMessage p {
  max-width: 100%;
  overflow: hidden;

  text-overflow: ellipsis;
  text-align: left;
  font-size: 1rem;
}
