.containerMessageLeft {
  max-width: 100%;

  display: flex;
  justify-content: flex-start;
}

.containerMessageRight {
  max-width: 100%;

  display: flex;
  justify-content: flex-end;
}

.containerMessageRight .bodyMessage {
  background-color: rgb(199, 218, 212);
}

.bodyMessage {
  max-width: 90%;
}

.bodyMessage p {
  max-width: 100%;
  overflow: hidden;

  text-overflow: ellipsis;
  text-align: left;
  font-size: 1rem;
}
