.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  margin-top: 1rem;
}

.containerAvatar {
  width: 10rem;
  height: 10rem;
}

.buttonForm {
  margin-top: 1rem;
}

.buttonForm[disabled] {
  opacity: .8;
  background-color: rgb(83, 111, 201);
  pointer-events: none;
}
