@value colors: "styles/colors.module.css";
@value breakpoints: "styles/breakpoints.module.css";

@value backgroundColor, textColor from colors;
@value ml from breakpoints;

.app {
  width: 100%;
  height: 100vh;

  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

  text-align: center;
}

.main {
  background-color: backgroundColor;
  color: textColor;

  overflow-y: auto;
  border-radius: 1rem;

  width: 100%;
  height: 100%;
}

@media (min-width: ml) {
  .app {
    margin: 2rem auto;
    width: 80%;
    height: 90vh;
  }
}
